<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客列表页</title>
    <style>
        * {

        }
    </style>
</head>
<body>
<!--container 存放所有博客-->
    <div class="container">
<!--        blog对应每一篇博客-->
        <div class="blog">
            <a href=""></a>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>